:root {
  --gradient: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  --paleBlue: hsl(243, 100%, 93%);
  --grayishBlue: hsl(229, 7%, 55%);
  --darkBlue: hsl(228, 56%, 26%);
  --veryDarkBlue: hsl(229, 57%, 11%);
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem =10px*/
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 1.4rem;
  font-family: 'Raleway', sans-serif;
}

main {
  background-image: url(../images/bg-mobile.png);
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
}

.fylo {
  width: 34rem;
  padding: 4rem 4rem;
  background-color: var(--darkBlue);
  border-radius: 1rem 10rem 1rem 1rem;
}
.fylo--icon {
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
}
.fylo__icon {
  background-color: var(--veryDarkBlue);
  height: 5rem;
  width: 5rem;
  border-radius: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
}
.storage {
  width: 34rem;
  margin-top: 2rem;
  padding: 2rem 4rem 3rem 4rem;
  border-radius: 1rem;
  background-color: var(--darkBlue);
}
.storage p {
  text-align: center;
  color: var(--grayishBlue);
}
.storage span {
  color: var(--paleBlue);
  font-weight: 700;
}
.border {
  border-radius: 01rem;
}
.storage__progress {
  background-color: var(--veryDarkBlue);
  height: 2rem;

  display: flex;
  align-items: center;
}
.storage__progress__size {
  background: var(--gradient);
  height: 1.4rem;
  margin-left: 0.3rem;
  width: 72%;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.circle {
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  margin-right: 0.3rem;
  background-color: var(--paleBlue);
}
.storage--date {
  display: flex;
  justify-content: space-between;
}
.storage--date p {
  color: var(--paleBlue);
  font-weight: 700;
}
.dateGB {
  background-color: #fff;
  width: 18rem;
  margin: 0 auto;
  margin-top: -3rem;
  font-weight: 700;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.dateGB span {
  color: var(--veryDarkBlue);
  font-size: 4rem;
}
.dateGB p {
  color: var(--grayishBlue);
}

/* Footer */
.footer {
  height: 5vh;
  background-color: var(--paleBlue);
  display: flex;
  justify-content: center;
  align-items: center;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  text-decoration: none;
  color: hsl(228, 45%, 44%);
}
.attribution a:hover {
  text-decoration: underline;
}

@media (min-width: 1440px) {
  main {
    background-color: var(--veryDarkBlue);
    background-image: url(../images/bg-desktop.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;

    flex-direction: row;
    gap: 3rem;
  }

  .desktop {
    display: flex;
    align-items: flex-end;
    gap: 3rem;
    margin-bottom: 5rem;
  }
  .storage {
    width: 55rem;
    height: 15rem;
  }
  .storage p {
    text-align: left;
  }
  .dateGB {
    position: absolute;
    margin-left: 70rem;
    margin-bottom: 13rem;
  }
  .dateGB--aux {
    position: absolute;
    margin-left: 84rem;
    margin-bottom: 11rem;
    border: 20px solid transparent;
    border-right: 20px solid white;
  }
}
